<a href="https://colab.research.google.com/github/ismailmuhammad21/A-Deep-Dive-into-Customer-Experiences-with-British-Airways/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleansing**


 
Now moving on to the next step of analysis which is cleaning data.This involves removing unnecessary punctuation, correcting spelling errors, and filtering out unwanted characters to ensure accurate and reliable information. By doing so, we can perform various analytical tasks and obtain valuable insights for better decision-making.

In [31]:
#imports

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regex
import re

In [32]:
import os
import pandas as pd

# check the current working directory
print(os.getcwd())

# specify the file path
file_path = "/BA_reviews.csv"

# read the csv file into a dataframe
df = pd.read_csv(file_path, index_col=0)

/content

In [33]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | Despite being a gold member...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,1st May 2023,United Kingdom
1,Not Verified | Regarding the aircraft and seat...,2,28th April 2023,United Kingdom
2,Not Verified | I travelled with British Airway...,5,26th April 2023,Sweden
3,Not Verified | Food was lousy. Who ever is pl...,1,24th April 2023,United States
4,✅ Trip Verified | Had the worst experience. Th...,2,24th April 2023,Canada

In [34]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [35]:
df['verified']

0        True
1       False
2       False
3       False
4        True
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

In [44]:
import re
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

nltk.download('stopwords')  # download the stopwords resource
nltk.download('wordnet')  # download the wordnet resource

lemma = WordNetLemmatizer()

reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus = []

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [45]:
df['corpus'] = corpus

In [46]:
df.head()

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | Despite being a gold member...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,1st May 2023,United Kingdom,True,despite gold member british airway staff heath...
1,Not Verified | Regarding the aircraft and seat...,2,28th April 2023,United Kingdom,False,verified regarding aircraft seat business clas...
2,Not Verified | I travelled with British Airway...,5,26th April 2023,Sweden,False,verified travelled british airway sweden los a...
3,Not Verified | Food was lousy. Who ever is pl...,1,24th April 2023,United States,False,verified food lousy ever planning asian hindu ...
4,✅ Trip Verified | Had the worst experience. Th...,2,24th April 2023,Canada,True,worst experience flight london toronto got del...

In [47]:
df.dtypes

reviews     object
stars       object
date        object
country     object
verified      bool
corpus      object
dtype: object

In [48]:
# convert the date to datetime format

df.date = pd.to_datetime(df.date)

In [49]:
df.date.head()

0   2023-05-01
1   2023-04-28
2   2023-04-26
3   2023-04-24
4   2023-04-24
Name: date, dtype: datetime64[ns]

In [50]:
#check for unique values
df.stars.unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '2', '5', '1', '10', '3', '4',
       '9', '7', '8', '6', 'None'], dtype=object)

In [51]:
# remove the \t and \n from the ratings
df.stars = df.stars.str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [52]:
df.stars.value_counts()

1       775
2       395
3       388
8       350
10      311
7       302
9       298
5       262
4       232
6       182
None      5
Name: stars, dtype: int64

In [53]:
# drop the rows where the value of ratings is None
df.drop(df[df.stars == "None"].index, axis=0, inplace=True)

In [54]:
#check the unique values again
df.stars.unique()

array(['5', '2', '1', '10', '3', '4', '9', '7', '8', '6'], dtype=object)

In [55]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     3493
                       True     False     False        2
dtype: int64

In [56]:
df.country.isnull().value_counts()

False    3493
True        2
Name: country, dtype: int64

In [57]:
#drop the rows using index where the country value is null
df.drop(df[df.country.isnull() == True].index, axis=0, inplace=True)

In [58]:
df.shape

(3493, 6)

In [59]:
#resetting the index
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | Despite being a gold member...,5,2023-05-01,United Kingdom,True,despite gold member british airway staff heath...
1,Not Verified | Regarding the aircraft and seat...,2,2023-04-28,United Kingdom,False,verified regarding aircraft seat business clas...
2,Not Verified | I travelled with British Airway...,5,2023-04-26,Sweden,False,verified travelled british airway sweden los a...
3,Not Verified | Food was lousy. Who ever is pl...,1,2023-04-24,United States,False,verified food lousy ever planning asian hindu ...
4,✅ Trip Verified | Had the worst experience. Th...,2,2023-04-24,Canada,True,worst experience flight london toronto got del...
...,...,...,...,...,...,...
3488,LCY-SNN-JFK-LCY BA001 and 004. Quick check in ...,10,2014-05-15,United Kingdom,False,lcy snn jfk lcy ba quick check fast track secu...
3489,MIA-LHR in World Traveller on a 747-400. After...,5,2014-05-15,United Kingdom,False,mia lhr world traveller flown consecutive leg ...
3490,Flew to Vegas on 8th May and dismayed at the s...,1,2014-05-15,United Kingdom,False,flew vega th may dismayed standard filthy seat...
3491,On a recent vacation from Sacramento to Paris ...,8,2014-05-13,United States,False,recent vacation sacramento paris friend terrib...
3492,I should be in a nice hotel in Romania instead...,7,2014-05-12,United Kingdom,False,nice hotel romania instead hour arrived heathr...

In [61]:
# export the cleaned data

df.to_csv(cwd + "/cleaned-BA-reviews.csv")

In [64]:
from google.colab import files
files.download("cleaned-BA-reviews.csv")